ion-content {
    // --ion-background-color: var(--ion-color-secondary);
    // --ion-background-color: black;
    // --ion-background-color: linear-gradient(blue,red);
    --ion-background-color: linear-gradient(#bcbcdd7c,#777070);
}

ion-item {
    --ion-background-color: transparent!important;
}

.padding {
    padding: 5%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 250px;
    position: relative;
}

// .logo ion-icon {
//     position: absolute;
//     font-size: 9em;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.logo img {
    position: absolute;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}