.iconSize{
    font-size: 50px;
    color: red;
    
}
.ion-text-left{
    align-self: flex-start;
}
.ion-text-center{
    align-self: center;
}
.ion-text-right{
    align-self: flex-end;
}
.mot{
 border: solid 1px rgb(163, 158, 158);
 padding: 5px;
 background-color: #EAEAEA;
}


body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  
  .header .col {
    background-color:lightgrey;
  }
  
  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }
  
  .col:last-child {
    border-right: solid 1px grey;
  }
  
  .row:last-child .col {
    border-bottom: solid 1px grey;
  }

  .grid-bordered{
    .row{
      border-style: solid;
      border-width: 1px 0px 1px 0px;
      border-color: #dedede;
    }
    .col{
      border-style: solid;
      border-width: 0px 1px 0px 1px;
      border-color: #dedede;
    }
  }

  .is-female {
    background: pink!important;
  }