.iconSize{
    font-size: 50px;
    color: red;
    
}
.ion-text-left{
    align-self: flex-start;
}
.ion-text-center{
    align-self: center;
}
.ion-text-right{
    align-self: flex-end;
}
.mot{
 border: solid 1px rgb(163, 158, 158);
 padding: 5px;
 background-color: #EAEAEA;
}
