<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Thong ke</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
  <ion-icon name="arrow-dropleft" class="iconSize" slot="start"></ion-icon>
  <ion-text style="text-align: center;"> Tuan nay</ion-text>
  <ion-icon name="arrow-dropright" class="iconSize" slot="end"></ion-icon> -->
  
  
  <ion-row>
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="clear">
        <ion-icon name="arrow-dropleft" slot="icon-only" class="iconSize" ></ion-icon>
      </ion-button>
    </ion-col>
  
    <ion-col size="4" class="ion-text-center" >
        <ion-button fill="clear">
         Tuan nay
        </ion-button>
      </ion-col>
  
    <!-- Move forward one screen of the slides -->
    <ion-col size="4" class="ion-text-right" >
      <ion-button fill="clear">
        <ion-icon name="arrow-dropright" slot="icon-only"  class="iconSize" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-grid>
        <ion-row >
          <ion-col class="mot"> STT</ion-col>
          <ion-col class="mot">Nhom</ion-col>
          <ion-col class="mot">T2</ion-col>
          <ion-col class="mot">T3</ion-col>
          <ion-col class="mot">T4</ion-col>
          <ion-col class="mot">T5</ion-col>
          <ion-col class="mot">T6</ion-col>
          <ion-col class="mot">T7</ion-col>
          <ion-col class="mot">CN</ion-col>
        </ion-row>
        
          
       
    
  </ion-grid>
  
</ion-content>