.a {
    font-display:helventicaneu;
    font-size: 10px;
    border: solid 1px rgb(241, 237, 237);
    padding: 10px;
    margin: 0.5px;
    text-align: left;
     background-color:  #27BDED;
    border-radius: 4px;
    
    
    }
    
    
    .b ion-col{
          margin-block-start: 2px;
          margin-top: 20px;
          align-self: center;
          background-color: #EEEEEE;
          text-align: center;
          margin: 0.1px;
          border: solid 1px #EFEAEA;
    }
    .c ion-col{
          margin: 0.1px;
          border: solid 1px #EFEAEA;
    }
    .d ion-button{
          font-size: 10px;
          margin-left: 3px;
          
          
    }